



.share_block
{
	/*background: linear-gradient(to right, rgba(255,255,255,0.1), #000000);*/
	padding: 0;
	margin: 0;
	display: block;
}

.share_text
{
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 20px;
	padding: 0px 5px 0px 0px;
}

.share_link
{
	
}

.share_img_block
{
	float: right;
	display: inline-block;
	padding-right: 20px;
}

.share_img
{
	max-width: 26px;
	min-width: 26px;
	max-height: 26px;
	min-height: 26px;
	padding: 2px 2px 2px 2px;
	margin: 0px 4px 0px 4px;
	border-radius: 50%;
	transition: margin 1s;
	transition: box-shadow 2s, margin 0.5s;
	box-shadow: 0 0 14px red;
	 /*0 0 0 1px rgba(244, 238, 66,0.1);*/
}

.share_img:hover
{
	background: #fff;
	transition: box-shadow .3s;
	box-shadow: 0 0 4px rgba(255,255,255,1),
				0 0 8px rgba(255,255,255,0.5),
				0 0 12px rgba(255,255,255,0.1),
				0 0 0 4px rgba(244, 238, 66,0.7),
				0 0 0 8px rgba(244, 238, 66,0.4),
				0 0 0 12px rgba(244, 238, 66,0.1),
				0 0 0 12px rgba(244, 238, 66,0.01);
	margin: 0px 4px 0px 20px;
	transition: margin 0.5s, box-shadow 0.5s;
}